<!-- Content Heading -->

<% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>
    
<!-- Message Block -->
    
<%# messages() %>
    
<!-- Inventory Items Display -->
    
<%- grid %>
<script src="/public/js/script.js" defer></script>
<script src="/public/js/form-validation.js"></script>
<script src="/public/js/inventory-validation.js"></script>
<script src="/public/js/inventory.js"></script>
<script src="/public/js/inv-update.js"></script>